.cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  flex-grow: 1;
  padding: 20px;
  margin: 0 20px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
}
